<div class="jumbotron">
  <h1 class="display-4">TinyApp</h1>
  <p class="lead">The tiny URL shortener. <a href="/urls/new">New TinyURL</a> | <a href="/urls/">My URLs</a></p>
  <hr class="my-4">
  <p>
  <% if (templateVars.username) { %>
  <table style="width: 550px">
    <tr>
      <td> Logged in as <%= templateVars.users[templateVars.username].email %> </td>
      <td>
        <form class action="/logout" method="POST"><input type="submit" class="btn btn-primary" value="Logout"></form>
     </td>
    </tr>
  </table>
  <% } else { %>
  <table style="width: 300px">
    <tr>
      <td>
        <a href="/login">Login</a>
      </td>
      <td>
        <a href="/register">Register</a>
     </td>
     <td>
    </tr>
  </table>
   <% } %></p>
</div>

