<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <p>My URLs </p>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
       <table style="width: 540px">
          <tr>
          <td>Enter a URL: </td>
          <td><input class="form-control" name="longURL" type="text" placeholder="http://" /></td>
          <td><form class="form-inline" action="/urls" method="POST"><input type="submit" class="btn btn-primary" value="Update"></form></td>
          </tr>
      </table>
    </div>
  </form>
  </body>
</html>