<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include partials/_header %>
    <p>
    <div class="form-group mb-2">
     <table style="width: 450px;">
      <tbody>
        <tr>
        <td style="width: 300px; text-align: center;">
        <h2 style="text-align: left;">Short URL: <%= templateVars.shortURL %> </h2>
        </form></td>
        <td style="width: 150px; text-align: center;">&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 440px; text-align: center;"><form action="/urls/<%= templateVars.shortURL%>?_method=PUT" method="POST"><input class="form-control" name="longURL" type="text" placeholder=" <%= templateVars.longURL %> " ></td>
        <td style="width: 160px; text-align: center;"><button class="btn btn-primary" type="submit">Update</button></td>
        </tr>
    </tbody>
  </table>
  </div>
</body>
</html>
